@page "/"

<title>Self Care Sunday</title>
<h1>    Hello Gorgeous! </h1>

<h2>    Welcome to your Self-Care Homepage! 💄💋</h2>

   For more information about spas, makeup, and fashion, click the button below!<br/>
<button onclicck="Button_click" value="Submit"/>


<br/>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      
        body {
            background-image: url('images/STOCK-PexelsEternalHappiness3326362.jpg');
            background-repeat: repeat;
            background-attachment: scroll;
            background-size:contain;
        }

        h1, h2 {
            font-family: "Courier New", monospace;
        }

        h2 {
            font-size: 20px;
        }

        title {
            font-size: 40px;
        }

    </style>
</head>

