@page "/"

<h1>Hi Gorgeous! </h1>

Welcome to your Self-Care Homepage! 💄💋

<SurveyPrompt Title="Don't be afraid to look around! This is your home away from home. 😄" />

For more information about spas, makeup, and fashion, click the button below!
<button onclicck="Button_click" value="Submit"/>